/* Base styles */
:root {
    --color-accent-dark: #e35050;
    --color-accent-medium: #fd85ff;
    --color-accent-light: #f3bdbf;
    --color-primary-dark: #001a72;
    --color-primary-medium: #748aff;
    --color-primary-light: #e4e4e4;
    --color-secondary-dark: #bc7aff;
    --color-secondary-medium: #ce7fff;
    --color-secondary-light: #e4e4e4;
    --color-brand-dark: #480054;
    --color-brand-medium: #973499;
    --color-brand-light: #ce44e4;
    --color-bg-dark: #ffe7e7;
    --color-bg-medium: #fff8f8;
    --color-bg-light: #fffbfb;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-medium: #919191;
    --color-text-dark: #282828;
    --color-text-light: #393939;
    --color-text-medium: #333333;
    --color-icon-dark: #374957;
    --color-icon-light: #ababab;
    --color-liner: linear-gradient(90deg, #540096, #81008c);
    --color-opacity: rgba(0, 0, 0, 0.3);
    --shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.08);
    --color-stroke: rgba(255, 154, 233, 0.35);
}

.arbutus-slab-regular {
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-text-dark);
    background-color: var(--color-bg-dark);
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

/* Header styles */
.header {
    padding: 0 30px;
    background-color: var(--color-bg-light);
    max-width: 1312px;
    min-height: 100px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16.3px 0px rgba(206, 11, 255, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
    align-content: center;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 35px;
    color: var(--color-brand-light);
}
.header-menu {
    display: flex;
    gap: 48px;
}
.header-buttons {
    display: flex;
    gap: 24px;
}
.header-icons {
    display: flex;
    gap: 8px;
}
