/* Base styles */
:root {
    --color-accent-dark: #e35050;
    --color-accent-medium: #fd85ff;
    --color-accent-light: #f3bdbf;
    --color-primary-dark: #001a72;
    --color-primary-medium: #748aff;
    --color-primary-light: #e4e4e4;
    --color-secondary-dark: #bc7aff;
    --color-secondary-medium: #ce7fff;
    --color-secondary-light: #e4e4e4;
    --color-brand-dark: #480054;
    --color-brand-medium: #973499;
    --color-brand-light: #ce44e4;
    --color-bg-dark: #ffe7e7;
    --color-bg-medium: #fff8f8;
    --color-bg-light: #fffbfb;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-medium: #919191;
    --color-text-dark: #282828;
    --color-text-light: #393939;
    --color-text-medium: #333333;
    --color-icon-dark: #374957;
    --color-icon-light: #ababab;
    --color-liner: linear-gradient(90deg, #540096, #81008c);
    --color-opacity: rgba(0, 0, 0, 0.3);
    --shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.08);
    --color-stroke: rgba(255, 154, 233, 0.35);
}

.arbutus-slab-regular {
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-text-dark);
    background-color: var(--color-bg-dark);
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

.section {
    padding: 80px 0;
}

.container {
    padding: 0 30px;
    max-width: 1312px;
    margin: 0 auto;
}

.gradient-text {
    background: var(--color-liner);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    padding: 16px 12px;
    background: var(--color-brand-medium);
    border-radius: 10px;
    color: var(--color-light);
    font-weight: 500;
    text-align: center;
}

.button:hover {
    background: var(--color-accent-dark);
    box-shadow: 0 4px 8px var(--color-brand-medium);
}

/* Header styles */
.header {
    padding: 0 30px;
    background-color: var(--color-bg-light);
    max-width: 1312px;
    min-height: 100px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16.3px 0px rgba(206, 11, 255, 0.25);
    position: sticky;
    top: 0;
    z-index: 2;
    align-content: center;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 35px;
    color: var(--color-brand-light);
}
.header-logo:hover {
    color: var(--color-brand-medium);
    text-decoration: underline;
    text-underline-offset: 8px;
    scale: 1.1;
}
.header-menu {
    display: flex;
    gap: 48px;
}
.header-menu a:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
    text-underline-offset: 8px;
}
.header-buttons {
    display: flex;
    gap: 24px;
}
.header-button {
    padding: 12px 16px;
    border-radius: 10px;
}
.header-button:hover {
    background: var(--color-bg-light);
    box-shadow: 0 4px 8px var(--color-primary-light);
    border: solid 2px var(--color-accent-dark);
}
.icon-button {
    padding: 4px 8px;
    border-radius: 5px;
}
.icon-button:hover {
    background: var(--color-bg-light);
    box-shadow: 0 4px 8px var(--color-primary-light);
    border: solid 2px var(--color-accent-dark);
}
.header-icons {
    display: flex;
    gap: 8px;
}

/* Hero section styles */
.hero {
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 574px;
}
.hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
}
.hero-description {
    max-width: 500px;
}
.hero-button {
    max-width: 150px;
}
.hero-social {
    display: flex;
    gap: 12px;
}
.hero-social_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: var(--color-brand-dark);
}
.hero-donuts {
    position: relative;
}
.hero-donuts_img {
    position: relative;
    z-index: 1;
    width: 730px;
    height: 460px;
}
.hero-donuts_ellipse {
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    width: 330px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    z-index: -1;
    filter: blur(40.4px);
}

/* Collection section styles */
.collection {
    display: flex;
    justify-content: space-between;
    padding-top: 330px;
}
.collection-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 320px;
}
.collection-title {
    font-weight: 600;
    font-size: 30px;
    color: var(--color-accent-dark);
    text-transform: uppercase;
}
.collection-list {
    display: flex;
    flex-direction: row;
    gap: 109px;
    max-width: 820px;
    border-top: var(--color-icon-light) 1px dashed;
    padding: 8px 30px;
}
.collection-list_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: -16px;
    max-width: 250px;
}
.collection-list_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-list_ellipse {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.collection-list_ellipse--violet {
    background-color: var(--color-secondary-dark);
}
.collection-list_ellipse--blue {
    background-color: var(--color-primary-medium);
}
.collection-list_ellipse--pink {
    background-color: var(--color-accent-medium);
}
.collection-list_line {
    display: inline-block;
    width: 1px;
    height: 90px;
    background-color: var(--color-medium);
}
.collection-img_wrapper {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 13px 20px 0px rgba(255, 190, 190, 0.25);
}
.collection-list_text {
    text-align: center;
}

/* Sellers section styles */
.sellers {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 160px;
}
.sellers-header {
    position: relative;
}
.sellers-line {
    position: absolute;
    top: 45px;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 2px dashed var(--color-medium);
    height: 0;
    margin: 0;
    z-index: -1;
}
.sellers-text {
    max-width: 600px;
    text-align: center;
    background-color: var(--color-bg-medium);
    padding: 10px 24px;
    margin: 0 auto;
    max-height: 90px;
}
.sellers-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.sellers-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}
.sellers-list_text {
    color: var(--color-accent-dark);
    font-weight: 600;
}
.list-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}
.list-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
    padding: 16px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}
.list-card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.list-card_img {
    position: relative;
    width: 100%;
    height: 235px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #d9d9d9;
}
.img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-card-heart {
    position: absolute;
    top: 15px;
    right: 15px;
}
.list-card_title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-text-dark);
}
.list-card_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-card_price-value {
    font-size: 25px;
    font-weight: 500;
}
.pagination-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.pagination-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
}
.pagination-button_active {
    background-color: var(--color-secondary-medium);
}

/* Article styles */
.articles {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 150px;
}

.articles-list {
    display: flex;
    flex-direction: row;
    gap: 36px;
}
.articles-card {
    position: relative;
    width: 400px;
    border-radius: 15px;
    padding: 16px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
}
.articles-card_img-wrapper {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.articles-card_img-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
    );
    pointer-events: none;
}

.articles-card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.articles-card_date-wrapper {
    position: absolute;
    top: 34px;
    left: 34px;
    width: 70px;
    height: 80px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 14px 2px;
    text-align: center;
    z-index: 1;
}
.articles-card_date {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-light);
}
.articles-card_title {
    font-weight: 700;
    font-size: 25px;
    color: var(--color-text-dark);
    margin: 16px 0;
}
.articles-card_text {
    position: absolute;
    bottom: 46px;
    left: 50px;
    font-weight: 700;
    font-size: 25px;
    color: var(--color-light);
    width: 300px;
}

/* Stories styles */
.stores {
    display: flex;
    flex-direction: column;
    gap: 88px;
    padding-top: 160px;
}
.stores-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.stores-list_cards {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
.stores-list_card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 325px;
    padding: 40px 50px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 15px;
    width: 600px;
}
.stores-list_card-header {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}
.stores-list_card-header_img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d9d9d9;
}
.stores-list_card-header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stores-list_card-header_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stores-list_card-header_name {
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text-dark);
}
.stores-list_card-header_location {
    font-size: 20px;
    color: var(--color-medium);
}
.stores-list_card-text {
    font-size: 20px;
    color: var(--color-medium);
}

/* Footer styles */
.footer {
    padding: 114px 74px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding-top: 60px;
    border-top: 1px solid var(--color-medium);
}
.footer-content_left {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 510px;
}
.header-logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-description {
    font-size: 20px;
    color: var(--color-text-light);
}
.footer-social_icon {
    width: 32px;
    height: 32px;
    fill: #ababab;
}
.footer-content_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.footer-stores {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-stores_title {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text-dark);
}
.footer-stores_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-stores_list-item {
    font-size: 20px;
    color: var(--color-text-medium);
}
.footer-stores_list-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: var(--color-primary-dark);
}
