/* Base styles */
:root {
    --color-accent-dark: #e35050;
    --color-accent-medium: #fd85ff;
    --color-accent-light: #f3bdbf;
    --color-primary-dark: #001a72;
    --color-primary-medium: #748aff;
    --color-primary-light: #e4e4e4;
    --color-secondary-dark: #bc7aff;
    --color-secondary-medium: #ce7fff;
    --color-secondary-light: #e4e4e4;
    --color-brand-dark: #480054;
    --color-brand-medium: #973499;
    --color-brand-light: #ce44e4;
    --color-bg-dark: #ffe7e7;
    --color-bg-medium: #fff8f8;
    --color-bg-light: #fffbfb;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-medium: #919191;
    --color-text-dark: #282828;
    --color-text-light: #393939;
    --color-text-medium: #333333;
    --color-icon-dark: #374957;
    --color-icon-light: #ababab;
    --color-liner: linear-gradient(90deg, #540096, #81008c);
    --color-opacity: rgba(0, 0, 0, 0.3);
    --shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.08);
    --color-stroke: rgba(255, 154, 233, 0.35);
}

.arbutus-slab-regular {
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-text-dark);
    background-color: var(--color-bg-dark);
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

.section {
    padding: 80px 0;
}

.container {
    padding: 0 30px;
    max-width: 1312px;
    margin: 0 auto;
}

.gradient-text {
    background: var(--color-liner);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header styles */
.header {
    padding: 0 30px;
    background-color: var(--color-bg-light);
    max-width: 1312px;
    min-height: 100px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16.3px 0px rgba(206, 11, 255, 0.25);
    position: sticky;
    top: 0;
    z-index: 2;
    align-content: center;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 35px;
    color: var(--color-brand-light);
}
.header-menu {
    display: flex;
    gap: 48px;
}
.header-buttons {
    display: flex;
    gap: 24px;
}
.header-icons {
    display: flex;
    gap: 8px;
}

/* Hero section styles */
.hero {
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 574px;
}
.hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
}
.hero-description {
    max-width: 500px;
}
.hero-button {
    padding: 16px 12px;
    background: var(--color-brand-medium);
    border-radius: 10px;
    color: var(--color-light);
    font-weight: 500;
    max-width: 150px;
    text-align: center;
}
.hero-social {
    display: flex;
    gap: 12px;
}
.hero-social_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: var(--color-brand-dark);
}
.hero-donuts {
    position: relative;
}
.hero-donuts_img {
    position: relative;
    z-index: 1;
    width: 730px;
    height: 460px;
}
.hero-donuts_ellipse {
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    width: 330px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    z-index: -1;
    filter: blur(40.4px);
}

/* Collection section styles */
.collection {
    display: flex;
    justify-content: space-between;
    margin-top: 330px;
}
.collection-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 320px;
}
.collection-title {
    font-weight: 600;
    font-size: 30px;
    color: var(--color-accent-dark);
    text-transform: uppercase;
}
.collection-list {
    display: flex;
    flex-direction: row;
    gap: 109px;
    max-width: 820px;
    border-top: var(--color-icon-light) 1px dashed;
    padding: 8px 30px;
}
.collection-list_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: -16px;
    max-width: 250px;
}
.collection-list_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-list_ellipse {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.collection-list_ellipse--violet {
    background-color: var(--color-secondary-dark);
}
.collection-list_ellipse--blue {
    background-color: var(--color-primary-medium);
}
.collection-list_ellipse--pink {
    background-color: var(--color-accent-medium);
}
.collection-list_line {
    display: inline-block;
    width: 1px;
    height: 90px;
    background-color: var(--color-medium);
}
.collection-img_wrapper {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 13px 20px 0px rgba(255, 190, 190, 0.25);
}
.collection-list_text {
    text-align: center;
}
